body {
    background-image: linear-gradient(
        180deg,
        #FF7F50 5%,
        #00FFFF 20%,
        #008B8B 60%,
        #C71585 95%
    );
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    align-items: horizontal;
    display: flex;
}

#caixa1{
    align-items: left;
    display: block;
    height: 33vh;
    justify-content: left;
    position: horizontal;
}

#caixa2{
    align-items: center;
    display: block;
    height: 71vh;
    justify-content: center;
    position: horizontal;
}


#caixa3{
    align-items: right;
    display: block;
    height: 33vh;
    justify-content: right;
    position: horizontal;
}

main > section img {
    height: 300px;
    margin: 15px 25px;
    width: 400px;
    border-radius: 8px;
}

#caixabotao {
    background-color: #39a1c4;
    border: none;
    border-radius: 5px;
    color: #0a0a0a;
    font-family: EuclidBold;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 15px;
    padding: 5px 15px;
    text-transform: uppercase;
    align-self: center;
    justify-content: below;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 450px;
    margin: 100px;
}   

#detalhes-container {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container > li {
    align-items: baseline;
    display: flex;
    
}

#detalhes-container > li p {
    color: rgb(209, 243, 17);
    


}




